MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB_NAME=wavelength
GROQ_API_KEY=
TMDB_API_KEY=
JWT_SECRET_KEY=your-super-secret-key-change-this-in-production
APP_ENV=development
